name: Test
on:
  push:
    branches:
      - "**"
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - server
          - shoes-lxd-multi
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ matrix.target }}/go.mod
      - name: lint
        run: |
          cd ${{ matrix.target }}
          go install honnef.co/go/tools/cmd/staticcheck@latest
          staticcheck ./...
      - name: go vet
        run: |
          cd ${{ matrix.target }}
          go vet ./...
      - name: go test
        run: |
          cd ${{ matrix.target }}
          go test ./...
  docker-build-test:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout
       uses: actions/checkout@v4
       with:
         fetch-depth: 1
     - name: docker build
       run: |
         cd server
         docker build .
